@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body{
    margin: 0;
    padding: 0;
    background:url("/images/FMS_Bac.jpeg");
}
img {
    width: 60px;
    height: 60px;
    margin-left: 175px;
    margin-top: 20px;
}
.card_1 {
    width: 30%;
    height: 345px;
    margin-left: 340px;
    margin-top: 75px;
    position: absolute;
    box-shadow: 10px 10px 10px -4px #ccc;
    
}
h1 {
    font-size: 22px;
    font-weight: bold;
    color: #515254;
    font-family: 'Lato', sans-serif;
}
form {
    width: 80%;
    margin-left: 40px;
}
label {
    font-size: 13px;
    font-weight: bold;
    font-family: 'lato', sans-serif;
}
button {
    background: linear-gradient(#91d5d0,#52c9c5,#50bab2);
    color: white !important;
    font-weight: bold;
    height: 45px !important;
    border-radius: 10px !important;
    font-family: 'lato',sans-serif;
    font-size: 13px !important;
    font-weight: bold !important;

}
.bo_dy {
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    background-color: #cccccc;
}
/* .card1 {
    background-image: url("/images/background1.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */